body {
    background-image: url(background.jpeg);
    font-family: sans-serif;
    padding: 20px;
  }

header, .form {
    width: 80%;
    background-color: rgb(142, 136, 168);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
  }

.demographic {
    display: block;
}